@use "sass:math";

$unit: rem; // Modify this to specify your unit eg: em, pt, %.

// Spacing utility generator  --------------------------------
$directions: (
  l: left,
  t: top,
  r: right,
  b: bottom,
  y: top,
  x: left,
);
@mixin generateSpacing($prop, $short) {
  @each $key, $val in $spacers {
    .#{$short}-#{$key} {
      $spacer: $spacer;
      #{$prop}: $val !important;
    }
    @each $dKey, $dVal in $directions {
      .#{$short}#{$dKey}-#{$key} {
        #{$prop}-#{$dVal}: $val !important;
        @if $key == y {
          #{$prop}-bottom: $val !important;
        }
        @if $key == x {
          #{$prop}-right: $val !important;
        }
      }
    }
  }
}
@include generateSpacing(padding, p);
@include generateSpacing(margin, m);

$themeColors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
);

// Color utility Generator --------------------------------

@each $key, $value in $themeColors {
  .color-#{$key} {
    color: $value !important;
  }

  .bg-#{$key} {
    background-color: $value !important;
  }

  .border-#{$key} {
    border-color: $value !important;
  }
}
