html {
  font-size: $rootFontSize;
}

body {
  font-size: 100%;
  line-height: $baseLineHeight;
  font-family: $baseFontFamily;

  & * {
    box-sizing: border-box;
    font-family: $baseFontFamily;
  }
}
